body {
  font-family: 'Arial';
  text-align: center;
}

.table-flip {
  font-size: 80px;
  margin: 20px;
}

/* -------- MEDIA QUERY ----------- */
@media (max-width: 320px) {
  .table-flip {
    font-size: 20px;
  }
}
